{% extends 'base.html' %}
{% load static %}
{% block main_content %}

<!-- <main id="main" class="main"> -->

    <div class="pagetitle">
      <h1>Profile</h1>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-3">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              <style>
                .avatar-block {
                  position: relative;
                  transition: all ease-in-out 0.2s;
                }
                .avatar-block input[type="file"] {
                  display: none;
                }
                .avatar-block[uploaded="false"] .remove-btn,
                .avatar-block[uploaded="false"] .upload-btn {
                  display: none;
                }
                .avatar-block[uploaded="true"] .add-btn {
                  display: none;
                }
                .avatar-block[uploaded="false"] .add-btn {
                  display: block;
                  background-color: #376bca;
                  border: solid 2px #fff;
                  opacity: 1;
                  bottom: -10px;
                  transform: scale(0.9)
                }
                .avatar-block[uploaded="false"] img {
                  border-radius: unset !important;
                }
                .avatar-block[uploaded="false"]:hover .add-btn {
                  transform: scale(1.2)
                }
                .avatar-block .add-btn,
                .avatar-block .remove-btn,
                .avatar-block .upload-btn {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  margin: auto;
                  width: fit-content;
                  opacity: 0;
                  transition: all ease-in-out 0.2s;
                }
                .avatar-block:hover .profile-control {
                  opacity: 1;
                  margin: auto;
                }
                .avatar-block:hover .upload-btn {
                  /* right: 0 !important; */
                  transform: translateX(-50px);
                }
                .avatar-block:hover .remove-btn {
                  transform: translateX(50px);
                }
                .upload-btn * {
                  outline: none !important;
                }
              </style>
              <form class="profile-image-form avatar-block" onchange="this.submit()" method="post" action="{% url 'profile_image_upload' %}" uploaded="{% if profile_data.Image != '/uploads/' %}true{% else %}false{% endif %}" enctype="multipart/form-data">
                {% csrf_token %}

                <img src="{% if profile_data.Image != '/uploads/' %}{{profile_data.Image}}{% else %}{% static 'img/avatar.png' %}{% endif %}" alt="Profile" class="rounded-circle">
                <a href="{% url 'remove_profile_image' %}" class="profile-control remove-btn btn btn-danger btn-sm rounded-circle" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                <label for="upload-image" class="profile-control upload-btn btn btn-primary btn-sm rounded-circle" title="Upload new profile image"><i class="bi bi-pencil"></i></label>
                <label for="upload-image" class="profile-control add-btn btn btn-primary btn-sm rounded-circle" title="Upload new profile image"><i class="bi bi-plus"></i></label>
                <input name="profile_image" type="file" id="upload-image" />

              </form>

              <h2>{{profile_data.Username}}</h2>
              <h3>{{profile_data.JobTitle}}</h3>
              <div class="social-links mt-2">
                <a href="https://twitter.com/" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/sss" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-9">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>
                
                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#education">Education</button>
                </li>
                
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#experience">Experience</button>
                </li>
                
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#skills">Skills</button>
                </li>
                
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#projects">Projects</button>
                </li>
                
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#reference">References</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                </li>
              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                  <!-- Profile Edit Form -->
                  <form method="post" class="update_profile" action="{% url 'profile_update' %}">
                    {% csrf_token %}
                    <div class="row mb-3">
                      <div class="col-6">
                        <div class="form-floating mb-3">
                          <input name="fullName" type="text" class="form-control" id="fullName" value="{{profile_data.FullName}}" placeholder="Full Name">
                          <label for="fullName" class="col-form-label">Full Name</label>
                        </div>

                        <div class="row mb-3">
                          <div class="col">
                            <div class="form-floating">
                              <select class="form-select" name="gender" id="floatingSelect" aria-label="State">
                                {% for gender in gender_choice %}
                                  <option class="{{gender.value}}" value="{{gender.value}}">{{gender.text}}</option>
                                {% endfor %}
                              </select>
                              <label for="gender" class="col-form-label">Gender</label>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-floating">
                              <input name="birth_date" type="text" class="form-control" id="birth_date" placeholder="Birth Date">
                              <label for="birth_date" class="col-form-label">Birth Date</label>
                            </div>
                          </div>
                        </div>

                          <div class="form-floating">
                            <input name="mobile" type="text" class="form-control" id="mobile" value="{{profile_data.Mobile}}" placeholder="Mobile">
                            <label for="mobile" class="col-form-label">Mobile</label>
                          </div>
                      </div>

                      <div class="col-6">
                        <div class="form-floating">
                          <textarea name="about" class="form-control" id="about" style="height: 205px" placeholder="About">{{profile_data.About}}</textarea>
                          <label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-6">
                        <div class="form-floating mb-3">
                          <input name="country" type="text" class="form-control" id="country" value="{{profile_data.Country}}" placeholder="Country">
                          <label for="country" class="col-md-4 col-lg-3 col-form-label">Country</label>
                        </div>
                        
                        <div class="form-floating mb-3">
                          <input name="state" type="text" class="form-control" id="state" value="{{profile_data.State}}" placeholder="State">
                          <label for="state" class="col-md-4 col-lg-3 col-form-label">State</label>
                          <!-- <select class="form-select" name="state" id="floatingSelect" aria-label="State">
                            <option selected="">Gujarat</option>
                            <option value="1">Rajasthan/option>
                            <option value="2">Goa/option>
                          </select> -->
                        </div>
                        <div class="form-floating mb-3">
                          <input name="city" type="text" class="form-control" id="state" value="{{profile_data.City}}" placeholder="City">
                          <label for="city" class="col-md-4 col-lg-3 col-form-label">City</label>
                          <!-- <select class="form-select" name="city" id="floatingSelect" aria-label="City">
                            <option selected="">New York</option>
                            <option value="1">Oregon</option>
                            <option value="2">DC</option>
                          </select>
                          <label for="city" class="col-md-4 col-lg-3 col-form-label">City</label> -->
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="form-floating">
                          <textarea name="address" class="form-control" id="address" style="height: 100px" placeholder="Address">{{profile_data.Address}}</textarea>
                          <label for="address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                        </div>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->
                </div>
                
                <!-- start Educations -->
                <div class="tab-pane fade pt-3 show active" id="education">
                  <!-- add new edcation details -->
                  <div class="row">
                    <div class="col-7">
                      <form method="post" class="add_update_education" action="{% url 'add_education' %}">
                        {% csrf_token %}
                        
                            <div class="form-floating mb-3">
                              <select class="form-select" name="board_university" id="floatingSelect" aria-label="board_university">
                                <option>Select</option>
                                {% for bu in board_universities %}
                                  {% if bu.id == edit_education.BoardUniversity.id %}
                                    <option value="{{bu.id}}" selected>{{bu.Name}}</option>
                                  {% else %}
                                    <option value="{{bu.id}}">{{bu.Name}}</option>
                                  {% endif %}
                                {% endfor %}
                              </select>
                              <label for="board_university" class="col-form-label">Board/University</label>
                            </div>
                            <div class="form-floating mb-3">
                              <select class="form-select" name="course_stream" id="floatingSelect" aria-label="course_stream">
                                <option>Select</option>
                                {% for cs in course_stream %}
                                  {% if cs.id == edit_education.CourseStream.id %}
                                    <option value="{{cs.id}}" selected>{{cs.Name}}</option>
                                  {% else %}
                                    <option value="{{cs.id}}">{{cs.Name}}</option>
                                  {% endif %}
                                {% endfor %}
                              </select>
                              <label for="course_stream" class="col-form-label">Course/Stream</label>
                            </div>
    
                            <div class="row mb-3">
                              <div class="col-4">
                                  <div class="form-floating">
                                    <input name="start_date" type="date" class="form-control" id="start_date" placeholder="score" value="{{edit_education.StartDate}}">
                                    <label for="start_date" class="col-form-label">Start Date</label>
                                  </div>
                              </div>
                              <div class="col-4">
                                  <div class="form-floating">
                                    <input name="end_date" type="date" class="form-control" id="end_date" placeholder="score" value="{{edit_education.EndDate}}">
                                    <label for="end_date" class="col-form-label">End Date</label>
                                  </div>

                                  <div class="is_continue_switch mt-2">
                                    <div class="form-check form-switch" style="float: right;" data-bs-toggle="tooltip" data-bs-placement="top" title="is continue">
                                      <input class="form-check-input" name="is_edcation_continue" type="checkbox" id="is_edcation_continue" {% if edit_education.IsCompleted %}checked{% endif %}>
                                      <label class="form-check-label" for="is_edcation_continue">Persue?</label>
                                    </div>
                                  </div>
                              </div>
                              <div class="col-4">
                                <div class="form-floating">
                                  <input name="score" type="number" class="form-control" id="score" placeholder="score" max="100.00" value="{{edit_education.Score}}">
                                  <label for="score" class="col-form-label">Score {% if edit_education.IsPercent %}(%){% else %}(CGPA){% endif %}</label>
                                </div>
                                <div class="is_percent_switch mt-2">
                                  <div class="form-check form-switch" style="margin: auto;" data-bs-toggle="tooltip" data-bs-placement="top" title="perecent">
                                    <input class="form-check-input" name="is_cgpa" type="checkbox" id="is_cgpa" {% if edit_education.IsPercent %}checked{% endif %}>
                                    <label class="form-check-label" for="is_cgpa">Is CGPA?</label>
                                  </div>
                                </div>
                              </div>
                            </div>
    
                            <div class="row">
                              <div class="col">
                                <div class="form-floating">
                                  <textarea name="description" class="form-control" id="description" style="height: 140px; resize: none;" placeholder="description"></textarea>
                                  <label for="description" class="col-form-label">{{edit_education.Description}}</label>
                                </div>
                              </div>
                            </div>
    
                        <div class="text-center row mt-2">
                          <button type="submit" class="w-auto m-auto btn btn-primary">Save Changes</button>
                        </div>
                      </form>
                    </div>
                    <div class="col-5 edcation_list border" style="position:relative;border-radius: 4px;">
                      <h5 class="w-100" style="position: absolute; top:0; left: 0;z-index: 1; background-color: #fff; padding: 5px; border-bottom: #ddd solid 1px;">Education List</h5>
                      <div class=" scroller mt-5">
                      {% for education in my_educations %}
                      <div class="card">
                        <div class="card-body p-2">
                          <h5 class="card-title p-0">{{education.CourseStream.Name}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{education.BoardUniversity.Name}}</h6>
                          <h6 class="card-subtitle mb-2 text-muted">{{education.StartDate}} - {% if education.IsCompleted %} Present {% else %} {{education.EndDate}} {% endif %} </h6>
                          <p class="card-text">{{education.Description}}</p>
                          <a href="{% url 'edit_education' pk=education.pk %}" class="card-link m-0 btn btn-sm btn-primary">edit</a>
                          <a href="{% url 'delete_education' pk=education.pk %}" class="card-link m-0 btn btn-sm btn-danger">delete</a>
                        </div>
                      </div>
                      {% endfor %}
                      </div>
                    </div>
                  </div>
                  
                  <!--End add new edcation details -->
                </div>
                <!-- End Educations  --> 

                <!--start add Exprience details -->
                <div class="tab-pane fade pt-3" id="experience">
                  <div class="row">
                    <div class="col-7">
                      <form method="post" class="update_exp" action="{% if edit_exp %}{% url 'exp_update' pk=edit_exp.id %}{% else %}{% url 'add_exp' %}{% endif %}">
                        {% csrf_token %}
                        
                        <div class="row mb-3">
                          <div class="col-6">
                            <div class="form-floating mb-3">
                              <input name="compname" type="text" class="form-control" id="compname" value="{{edit_exp.CompanyName}}" placeholder="Company Name">
                              <label for="compname" class="col-form-label">Company Name</label>
                            </div>
                          </div>
                        </div>
                      
                        <div class="row mb-3">
                          <div class="col-6">
                            <div class="form-floating mb-3">
                              
                              <input name="comploc" type="text" class="form-control" id="comploc"" value="{{edit_exp.ComapnyLocation}}" placeholder="Company Location">
                              <label for="comploc" class="col-form-label">Company Location</label>
                            </div>
                          </div>
                        </div>
                        
                        <div class="row mb-3">
                          <div class="col-6">
                            <div class="form-floating mb-3">
                              <input name="jobTitle" type="text" class="form-control" id="jobTitle" value="{{edit_exp.JobTitle}}" placeholder="JobTitle/Role">
                              <label for="jobTitle" class="col-form-label">JobTitle/Role</label>
                            </div>
                          </div>
                        </div>

                                          
                        <div class="row mb-3">
                          <div class="col-4">
                              <div class="form-floating">
                                <input name="start_date" type="date" class="form-control" id="start_date" placeholder="score" value="{{edit_exp.StartDate}}">
                                <label for="start_date" class="col-form-label">Start Date</label>
                              </div>
                          </div>
                          <div class="col-4">
                              <div class="form-floating">
                                <input name="end_date" type="date" class="form-control" id="end_date" placeholder="score" value="{{edit_exp.EndDate}}">
                                <label for="end_date" class="col-form-label">End Date</label>
                              </div>
                          </div>
                        </div>
                        
                        <div class="is_continue_switch mt-2">
                          <div class="form-check form-switch" style="float: right;" data-bs-toggle="tooltip" data-bs-placement="top" title="is continue">
                            <input class="form-check-input" name="is_exp_continue" type="checkbox" id="is_exp_continue" {% if edit_exp.IsContinue %}checked{% endif %}>
                            <label class="form-check-label" for="is_exp_continue">Persue?</label>
                          </div>
                        </div>
                        
                        <div class="row mb-3">
                          <div class="col-6">
                            <div class="form-floating mb-3">
                              <input name="tduration" type="text" class="form-control" id="tduration" value="{{edit_exp.TotalDuration}}" placeholder="Total Duration">
                              <label for="tduration" class="col-form-label">Total Duration </label>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col">
                            <div class="form-floating">
                              <textarea name="description" class="form-control" id="description" style="height: 140px; resize: none;" placeholder="description"></textarea>
                              <label for="Description" class="col-form-label">Description</label>
                              <label for="Description" class="col-form-label">{{edit_exp.Description}}</label> 
                            </div>
                          </div>
                        </div>
                        <div class="text-center">
                          <input type="submit" class="btn btn-primary" value="{% if edit_exp %} Edit {% else %} Add Experience {% endif %}">
                        </div>
                        
                      </form>
                    </div>
                  

                <div class="col-5 Exp_list border" style="position:relative;border-radius: 4px;">
                    <h5 class="w-100" style="position: absolute; top:0; left: 0;z-index: 1; background-color: #fff; padding: 5px; border-bottom: #ddd solid 1px;">Experience List</h5>
                    <div class=" scroller mt-5">
                    {% for exp in my_exp %}
                    <div class="card">
                      <div class="card-body p-2">
                        <h5 class="card-title p-0">{{exp.CompanyName}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{exp.ComapnyLocation}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{exp.StartDate}} - {% if exp.IsContinue %} Present {% else %} {{exp.EndDate}} {% endif %}</h6>
                        <p class="card-text">{{exp.Description}}</p>
                        <a href="{% url 'exp_update' pk=exp.pk %}" class="card-link m-0 btn btn-sm btn-primary">edit</a>
                        <a href="{% url 'delete_exp' pk=exp.pk %}" class="card-link m-0 btn btn-sm btn-danger">delete</a>
                      </div>
                    </div>
                    {% endfor %}
                    </div>
                  </div>
                </div>  
              
              </div> 
                <!-- End experience -->
              
                <!-- Start add skills  -->
              <div class="tab-pane fade pt-3" id="skills">
                <div class="row">
                  <div class="col-7"> 
                    <!-- <form method="post" class="update_skills" action="{% url 'add_skill' %}"> -->
                      <form method="post" class="update_skills" action="{% if edit_ski %}{% url 'skill_update' pk=edit_ski.id %}{% else %}{% url 'add_skill' %}{% endif %}">   
                        {% csrf_token %}
                       
                        <div class="row mb-3">
                          <div class="col-6">
                            <div class="form-floating mb-3">
                              <input name="skills" type="text" class="form-control" id="skills" value="{{edit_ski.Skills}}" placeholder="Skills">
                              <label for="skills" class="col-form-label">Skills </label>
                            </div>
                          </div>
                        </div>
                      
                        <div class="row mb-3">
                          <div class="col-6">
                            <div class="form-floating mb-3">
                              <select class="form-select" name="level" id="floatingSelect" aria-label="State">
                                {% for level in skill_level %}
                                  <option class="{{level.value}}" value="{{level.value}}">{{level.text}}</option>
                                {% endfor %}
                              </select>
                              <label for="level" class="col-form-label">Level</label>
                              <!-- <input name="level" type="text" class="form-control" id="level" value="{{edit_ski.level}}" placeholder="Level">
                              <label for="level" class="col-form-label">Level</label> -->
                            </div>
                          </div>
                        </div>
                      
                        <!-- <div class="row">
                          <div class="col">
                            <div class="form-floating">
                              <textarea name="description" class="form-control" id="description" style="height: 140px; resize: none;" placeholder="description"></textarea>
                              
                              <label for="Description" class="col-form-label">{{edit_ski.Description}}</label> 
                            </div>
                          </div>
                        </div> -->

                        <div class="text-center">
                          <input type="submit" class="btn btn-primary" value="{% if edit_ski %} Edit {% else %} Add Skills {% endif %}">
                        </div>
                        
                      </form>
                  </div>
                  <div class="col-5 Exp_list border" style="position:relative;border-radius: 4px;">
                    <h5 class="w-100" style="position: absolute; top:0; left: 0;z-index: 1; background-color: #fff; padding: 5px; border-bottom: #ddd solid 1px;">Skills List</h5>
                    <div class=" scroller mt-5">
                    {% for sk in ski %}
                    <div class="card">
                      <div class="card-body p-2">
                        <h5 class="card-title p-0">{{sk.Skills}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{sk.level}}</h6>
                        <!-- <p class="card-text">{{sk.Description}}</p> -->
                        <a href="{% url 'skill_update' pk=sk.pk %}" class="card-link m-0 btn btn-sm btn-primary">edit</a>
                        <a href="{% url 'delete_skill' pk=sk.pk %}" class="card-link m-0 btn btn-sm btn-danger">delete</a>
                      </div>
                    </div>
                    {% endfor %}
                    </div>
                  </div>   
                </div>
              </div>  
              <!-- End Skils -->

              <!-- Start Project     -->
            <div class="tab-pane fade pt-3" id="projects">
              <div class="row">
                <div class="col-7"> 
                  <!-- edit_project -->
                  <!-- <form method="post" class="update_proj" action="{% url 'add_project' %}"> -->
                  <form method="post" class="update_proj" action="{% if edit_project %}{% url 'project_update' pk=edit_project.id %}{% else %}{% url 'add_project' %}{% endif %}">  
                    {% csrf_token %}
                   
                    <div class="row mb-3">
                      <div class="col-6">
                        <div class="form-floating mb-3">
                          <input name="projecttitle" type="text" class="form-control" id="projecttitle" value="{{edit_project.Title}}" placeholder="Project Title">
                          <label for="projecttitle" class="col-form-label">Project Title </label>
                        </div>
                      </div>
                    </div>
                  
                    <div class="row mb-3">
                      <div class="col-6">
                        <div class="form-floating mb-3">
                          <input name="category" type="text" class="form-control" id="category" value="{{edit_project.Category}}" placeholder="Category">
                          <label for="comploc" class="col-form-label"> Category </label>
                        </div>
                      </div>
                    </div>
                    
                    <div class="row mb-3">
                      <div class="col-6">
                        <div class="form-floating mb-3">
                          <input name="clientname" type="text" class="form-control" id="clientname" value="{{edit_project.ClientName}}" placeholder="clientname">
                          <label for="clientname" class="col-form-label">Client Name/Company Name</label>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <div class="form-floating">
                          <textarea name="description" class="form-control" id="description" style="height: 140px; resize: none;" placeholder="description"></textarea>
                          <label for="Description" class="col-form-label">{{edit_project.Description}}</label>
                        </div>
                      </div>
                    </div>
                    <div class="text-center">
                      <input type="submit" class="btn btn-primary" value="{% if edit_project %} Edit {% else %} Add Project {% endif %}">
                    </div>
                    
                  </form>
                </div>
                
                <div class="col-5 Exp_list border" style="position:relative;border-radius: 4px;">
                  <h5 class="w-100" style="position: absolute; top:0; left: 0;z-index: 1; background-color: #fff; padding: 5px; border-bottom: #ddd solid 1px;">Project List</h5>
                  <div class=" scroller mt-5">
                  {% for proj in project %}
                  <div class="card">
                    <div class="card-body p-2">
                      <h5 class="card-title p-0">{{proj.Title}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{proj.Category}}</h6>
                      <h6 class="card-subtitle mb-2 text-muted">{{proj.ClientName}}</h6>
                      <p class="card-text">{{proj.Description}}</p>
                      <a href="{% url 'project_update' pk=proj.pk %}" class="card-link m-0 btn btn-sm btn-primary">edit</a>
                      <a href="{% url 'delete_project' pk=proj.pk %}" class="card-link m-0 btn btn-sm btn-danger">delete</a>
                    </div>
                  </div>
                  {% endfor %}
                  </div>
                </div> 
                
              </div>  
            </div>
            <!-- end project -->
            
            <!-- Start reference     -->
            <div class="tab-pane fade pt-3" id="reference">
              <div class="row">
                <div class="col-7"> 
                  <!-- edit_reference   -->
                  <!-- <form method="post" class="update_ref" action=" {% url 'add_reference' %}"> -->
                    <form method="post" class="update_ref" action="{% if edit_reference %}{% url 'reference_update' pk=edit_reference.id %}{% else %}{% url 'add_reference' %}{% endif %}">  
                      {% csrf_token %}
                      <div class="row mb-3">
                        <div class="col-6">
                          <div class="form-floating mb-3">
                            <input name="ccompname" type="text" class="form-control" id="ccompname" value="{{edit_reference.ClientName}}" placeholder="Client/ Company Name">
                            <label for="ccompname" class="col-form-label">Client/Comapny Name </label>
                          </div>
                        </div>
                      </div>
                    
                      <div class="row mb-3">
                        <div class="col-6">
                          <div class="form-floating mb-3">
                            <input name="compcont" type="text" class="form-control" id="compcont"" value="{{edit_reference.ClientContNo}}" placeholder="Company Contact no">
                            <label for="compcont" class="col-form-label"> Client/Comapny Contact no</label>
                          </div>
                        </div>
                      </div>
                      
                      <div class="row mb-3">
                        <div class="col-6">
                          <div class="form-floating mb-3">
                            <input name="link" type="text" class="form-control" id="link" value="{{edit_reference.Link}}" placeholder="Link">
                            <label for="link" class="col-form-label">Link </label>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col">
                          <div class="form-floating">
                            <textarea name="description" class="form-control" id="description" style="height: 140px; resize: none;" placeholder="description"></textarea>
                            
                            <label for="Description" class="col-form-label">{{edit_reference.Description}}</label>
                          </div>
                        </div>
                      </div>

                      <div class="text-center">
                        <input type="submit" class="btn btn-primary" value="{% if edit_reference %} Edit {% else %} Add Reference {% endif %}">
                      </div>

                    </form>
                </div>
              
                <div class="col-5 Exp_list border" style="position:relative;border-radius: 4px;">
                  <h5 class="w-100" style="position: absolute; top:0; left: 0;z-index: 1; background-color: #fff; padding: 5px; border-bottom: #ddd solid 1px;">Reference List</h5>
                  <div class=" scroller mt-5">
                    {% for ref in reference %}
                        <div class="card">
                          <div class="card-body p-2">
                            <h5 class="card-title p-0">{{ref.ClientName}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ref.ClientContNo}}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">{{ref.Link}}</h6>
                            <p class="card-text">{{ref.Description}}</p>
                            <a href="{% url 'reference_update' pk=ref.pk %}" class="card-link m-0 btn btn-sm btn-primary">edit</a>
                            <a href="{% url 'delete_reference' pk=ref.pk %}" class="card-link m-0 btn btn-sm btn-danger">delete</a>
                          </div>
                        </div>
                    {% endfor %}
                  </div>
                </div> 

              </div>  
            </div>
                
            <div class="tab-pane fade pt-3" id="profile-settings">

                  <!-- Settings Form -->
                  <form>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                      <div class="col-md-8 col-lg-9">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="changesMade" checked>
                          <label class="form-check-label" for="changesMade">
                            Changes made to your account
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="newProducts" checked>
                          <label class="form-check-label" for="newProducts">
                            Information on new products and services
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="proOffers">
                          <label class="form-check-label" for="proOffers">
                            Marketing and promo offers
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                          <label class="form-check-label" for="securityNotify">
                            Security alerts
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form>
                  
                  <!-- End settings Form -->

                
                  <!-- Change Password Form -->
                  <form class="change_password_form" method="post" action="{% url 'change_pwd' %}">
                    {% csrf_token %}
                    
                    <div class="row mb-3">
                      <div class="col-6">
                        <div class="form-floating">
                          <input name="current_password" type="password" class="form-control" id="currentPassword" placeholder="current password">
                          <label for="currentPassword" class="col-form-label">Current Password</label>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="form-floating">
                          <input name="new_password" type="password" class="form-control" id="newPassword" placeholder="new password">
                          <label for="newPassword" class="col-form-label">New Password</label>
                        </div>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

            </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  <!-- </main>End #main -->

{% endblock %}